<% provide(:title, "店舗情報の編集") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@store) do |f| %>
    <span class="picture">
    <%= f.label :picture %>　<span class="input-unneed">※任意</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'store_picture' %>
  </span>
  <div class = 'form-group'>
    <%= f.label :name %>　<span class="input-need">※必須</span>
    <%= f.text_field :name, class: 'form-control', id: 'store_name' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :adress %>　<span class="input-unneed">※必須</span>
    <%= f.text_field :adress, size: "60x4", class: 'form-control', id: 'store_adress' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :business_hours %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :business_hours, size: "60x4", class: 'form-control', id: 'store_business_hours' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :regular_holiday %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :regular_holiday, size: "60x4", class: 'form-control', id: 'store_regular_holiday' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :description %>　<span class="input-unneed">※任意</span>
    <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'store_description' %>
  </div>
        <%= f.submit "更新する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>